# generated directories
/.vs/
/.vscode/
/build/
/install/
/StepSizeController/*.log
/StepSizeController/*.mat
/StepSizeController/*/temp_*
/version.txt

# local files
/OMSimulator.config
/OMSimulator.creator
/OMSimulator.creator.user
/OMSimulator.files
/OMSimulator.includes
